<% provide(:title, 'About') %>
<h1>About</h1>
<h3>Preambel</h3>
<p class="myfloat"><img align="right" src="/images/bigdata.jpg" width="200" alt="Big Data">The internet enables corporations to gather huge amounts of everyones data to tailor ads, news, and search results. This is commonly referred to as 'Big Data' and was for some time only accessible to large companies like Google, Amazon, or Facebook. However, it is your right to access and use this data for your own benefit!</p>
<p>&nbsp;</p>

<h3>Mission</h3>
<p class="myfloat">Hyve.me challenges todays assumption that it requires a group of experts and lots of money to make sense out of data: Algorithms are deemed to be too complex for everydays use and results were seen as to ambiguous to be interpreted by untrained users.<br>
Nevertheless, we have broken down the process of data analysis and tackle now all questions relevant for individuals using Big Data.</p>
<p>To stay on course in this big endeavor we have put down some guiding principles - or anchors as we call them - in the following order:</p>
<ol>
  <li><strong>Simplicity:</strong> Big Data by its nature is a complex beast. To unleash its power to individuals we take all measures to make it as simple as possible - but not simpler.</li>
  <li><strong>Privacy:</strong> We are post-Wikileaks and post-Prism and you shouldn't trust anyone about data security but yourself. Therefore, we provide an innovative approach to give you the option of managing your data also locally on your computer: Neither Hyve.me nor anyone else will ever see your data or insight you gain from it.</li>
  <li><strong>Openess:</strong> To live up to our values we release all our software under an open source license, make interfaces documentation and data structures freely available, and work closely with the community to address any issues in a timely manner.</li>
</ol>
<p>&nbsp;</p>

<h3>Features</h3>
<p>Here is a list of currently available features - as of version 0.4.130715:</p>
<ul>
  <li>User management</li>
  <li>News feed with updates about people you follow</li>
  <li>Data storage for project data</li>
  <li>Data collection via email</li>
  <li>Listing of similar projects</li>
</ul>
<p>List of previous releases and scope: <%= link_to("Change Log", changelog_path) %><br>
And finally, you may also want to have a foresight about what to expect in upcoming releases when using Hyve.me: <%= link_to("Plans", plans_path) %></p>

