<% provide(:title, 'About') %>
<h1>About</h1>
<h3>Preambel</h3>
<p><img align="right" src="images/bigdata.jpg" width="200" alt="Big Data">The Internet enables corporations to gather huge amounts of your data to tailor ads, news, and search results. This is commonly referred to as 'Big Data' and was for some time only accessible to large companies like Google, Amazon, or Facebook. However, it is your right to access and use this data for your own benefit!</p>
<p>&nbsp;</p>
<h3>Challenges</h3>
<p>There are a number of challenges to deal with when working on Big Data for individuals:</p>
<ul>
  <li><strong>Relevance:</strong> What data is significant and provides valuable insight?<br>
Hyve.me automatically shows similar projects and you can check what data is collected by others.<br><br></li>
  <li><strong>Source:</strong> Where does the relevant data come from and how to get it?<br>One of the goals is to automatically import all your data that is stored by 3rd parties about you. Currently, Hyve.me focuses on the Austrian market and legislation about information privacy (only available in German: <a href="http://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597">Datenschutzgesetz 2000</a>, &sect;26 Auskunftsrecht)<br><br></li>
  <li><strong>Import:</strong> How to import the data that is available out there?<br>A lot of the data you get from companies is made available only on paper. Hyve.me provides best practices, tutorials, and tools to import this data.<br><br></li>
  <li><strong>Storage:</strong> Where and how to store your data securly?<br>
For now, all your data is stored using <a href="http://aws.amazon.com">Amazon Web Services</a>. In the near future you will be able to choose your storage provider.<br>It is also planned to provide the option for storing your data only locally on your PC and all processing will run locally. (Hyve.me is then only the place to get the necessary tools.)<br><br></li>
  <li><strong>Algorithms:</strong> How to process the data?<br>
While Hyve.me will provide a basic set of analysis tools, it will also provide an open market for algorithms. There, data analysis experts can upload various implementations for specific fields, and users can choose from the available offerings.<br><br></li>
  <li><strong>Visualization:</strong> How to interprete raw data and results of processed data?<br>
As with algorithms there is a basic set of graphical representation of your data available on Hyve.me. For more sophisticated visualization the open market will bring together visualization experts and users.<br><br></li>
  <li><strong>Management:</strong> How to assess the value of data in case you want to buy, sell or trade data?<br>Finally, it is the goal of Hyve.me to provide a platform for trading data. Even if you don't plan to sell some of your data, this is the place to find the market value of the information you possess.<br><br></li>
</ul>
<p>And now <%= link_to "take a tour", tour_path %> to get a demonstration of the available features or use the Feedback link below to get in contact with us.</p>
