<% provide(:title, 'About') %>
<h1>About</h1>
<h3>Preambel</h3>
<p><img align="right" src="images/bigdata.jpg" width="200" alt="Big Data">The Internet enables corporations to gather huge amounts of your data to tailor ads, news, and search results. This is commonly referred to as 'Big Data' and was for some time only accessible to large companies like Google, Amazon, or Facebook. However, it is your right to access and use this data for your own benefit!</p>
<p>&nbsp;</p>
<h3>Challenges</h3>
<p>There are a number of challenges to deal with when working on Big Data:</p>
<ul>
  <li><strong>Relevance:</strong> What data is relevant?</li>
  <li><strong>Source:</strong> Where does the relevant data come from?
  <li><strong>Import:</strong> How to import the data that is available out there?
  <li><strong>Storage:</strong> Where and how to store your data securly?
  <li><strong>Algorithms:</strong> How to process the data?
  <li><strong>Visualization:</strong> How to interprete raw data and results of processed data?
  <li><strong>Management:</strong> How to assess the value of data in case you want to buy, sell or trade data?
</ul>
<p>Hyve.me assists you in all those areas by providing an open market for tools and information. <%= link_to "Take a tour", tour_path %> to get a demonstration of the available features.</p>
