<% provide(:title, 'Change Log') %>
<h1>Change Log</h1>
<h4>Version 0.4 - Summer '13</h4>
<ul>
  <li><strong>v0.4.130920:</strong> UX enhancements</li>
  <li><strong>v0.4.130715:</strong> first web app</li>
</ul>
<p>&nbsp;</p>
<h4>Version 0.3 - Spring '13</h4>
<ul>
  <li><strong>v0.3.130401:</strong> tour feature added</li>
  <li><strong>v0.3.130325:</strong> landing page and rudimentary workflow implemented with forum</li>
</ul>
<p>&nbsp;</p>
<h4>Version 0.2 - Early '13</h4>
<ul>
  <li><strong>v0.2.0213:</strong> new import, printing, test suite</li>
  <li><strong>v0.2.0130:</strong> initial release of an MS Access implementation</li>
</ul>
<p>&nbsp;</p>
<h4>Version 0.1 - Winter '12</h4>
<ul>
  <li><strong>v0.1:</strong> Google Docs implementation for data collection</li>
</ul>
<p>&nbsp;</p>
<h4>Version 0.0 - Autumn '12</h4>
<ul>
  <li><strong>Interviews:</strong> first user contact</li>
</ul>
