<% provide(:title, 'Developers') %>
<h1>Developers</h1>
<p class="myfloat">This page provides information for developers seeking to participate in the Hyve.me market place.</p>
<p>&nbsp;</p>

<h3>Protocol</h3>
<p class="myfloat">The following protocol is used for secure and anonymous data transfer when aggregating data from multiple users.</p>
<p><img src="/images/protocol_sd.png" alt="Protocol"></p>
<p>&nbsp;</p>

<h4>Workflow</h4>
<ul>
  <li><strong>1) User submits query</strong><br>When a user wants to compare data from different Hyve users a query is submitted to the Mediation Service</li>
  <li><strong>A) Mediation Services processes query</strong><br>Validation checks, billing, and participant selection are performed by the mediation service before step 2) and 3) are exectued.</li>
  <li><strong>2) Mediation Service forwards job</strong><br></li>
  <li><strong>B) Process Service excepts incoming data</strong><br></li>
  <li><strong>3) Mediation Service sends invitation</strong><br></li>
  <li><strong>C) Every participating users decides about participation</strong><br></li>
  <li><strong>4) User sends data</strong><br></li>
  <li><strong>D) Process Service performs job</strong><br></li>
  <li><strong>5) Process Service sends results</strong><br></li>
  <li><strong>E) Result Service saves job results</strong><br></li>
  <li><strong>6) User request job results</strong><br></li>
  <li><strong>F) Result Services processes job request</strong><br></li>
  <li><strong>7) Result Service sends job result</strong><br></li>
</ul>
<p>&nbsp;</p>

<h3>RESTful API Documentation</h3>
<p><em>coming really soon now</em></p>
<h4>User Client</h4>
<ul>
  <li>Storage</li>
  <li>Data Collection
    <ul>
      <li>Interfaces</li>
      <li>Scrapping</li>
      <li>Interactive Data Acquisition</li>
    </ul></li>
  <li>Data processing</li>
  <li>Data visualization</li>
</ul>
<h4>Mediation Service</h4>
<h4>Process Service</h4>
<h4>Result Service</h4>

<p>&nbsp;</p>

<p><a href="http://hyve.me/crowdfunder">back to Hyve.me Crowdfunder</a></p>

