<% provide(:title, 'Data Collection via Email') %>
<h1>Data Collection via Email</h1>
<h3>Background</h3>
<p class="myfloat">Hyve.me allows you to create for each project a data structure and periodically fill it with data.</p>
<img src="/images/datacollect.png" alt="Data Collection" width="500">
<p>&nbsp;</p>

<p class="myfloat">The problem with this type of data collection is that it is cumbersome and despite good intentions, people usually tend to abandon this task sooner or later. Quite some literature and tools exist about how to overcome those obstacles. Hyve.me in particular builds from the work of <a href="http://www.behaviormodel.org/">BJ Fogg's Behavior Model</a> - for an action (= collect data) to occur, three elements are necessary:</p>
<ul>
  <li><strong>Motivation:</strong> you want to collect data . Hyve.me assumes you do, otherwise you would not be at this website</li>
  <li><strong>Ability:</strong> it needs to be extremely simple to collect data</li>
  <li><strong>Triggers:</strong> you need to get reminders and include it in your daily workflow</li>
</ul>
<p class="myfloat">Hyve.me.s approach for simple data collection and including it in the daily workflow is to provide an email service to collect data.</p>
<p>&nbsp;</p>

<h3>Email Data Collection</h3>
<p class="myfloat">For each project you can enable 'Data collection via email':</p>
<img src="/images/emailsetting.png" alt="Toggle Email Data Collection" width="500">
<p>&nbsp;</p>

<p class="myfloat">With this function enabled you will receive an email each day asking to answer a specific aspect of your project. To avoid annoying users, the system will only send one mail per day and will only send the next question after a user have answered an email (i.e., if you don.t answer a Hyve-email for a week, you will also not get another email question for a week.)</p>
<p class="myfloat">The emails you receive from data@hyve.me are structured in the following way:</p>
<ol>
  <li><strong>Context:</strong> description of the question</li>
  <li><strong>Structure:</strong> how to format your response</li>
  <li><strong>Example:</strong> how would an example response look like (as a reference this is usually the response from last time you answered that question)</li>
  <li><strong>Insight (optional):</strong> when your data matches certain criteria Hyve.me informs you about identified patterns</li>
  <li><strong>Administration:</strong> general explanation about this mail and links to show/edit your data online</li>
  <li><strong>Overview:</strong> a list of all your data attributes you are collecting</li>
</ol>
<p class="myfloat">Also have a look at the <%= link_to "Plans page", plans_path %> to read about automatic data import coming soon.</p>
