<% provide(:title, 'Imprint') %>
<h1>Imprint</h1>
<p>Hyve.me - We compare projects</p>
<h2>Address</h2>
Christoph Fabianek
Domestic place of general jurisdiction is A-1010 Vienna
<h2>Disclaimer</h2>
text
