# encoding: UTF-8
<% provide(:title, 'Impressum') %>
<h1>Impressum</h1>
<p><img align="right" src="/images/cf.jpg" width="160" alt="Christoph Fabianek">Hyve.me - Big Data for Individuals</p>
<h3>Address</h3>
<p class="myfloat">Hyve.me<br>
Dr. Christoph Fabianek<br>
<a href="mailto:christoph.fabianek@hyve.me">christoph.fabianek@hyve.me</a><br>
Gerichtsstand, Bezirksgericht A-1010 Wien</p>
<p>&nbsp;</p>
<h3>Disclaimer</h3>
<p class="myfloat"><strong>Copyright</strong><br>
Hyve.me, nachfolgend &quot;Autor&quot; genannt, ist bestrebt, in allen Publikationen auf urheberrechtlich geschütztes Material zu verzichten, oder, falls nicht anders möglich, auf das Urheberrecht entsprechend hinzuweisen. Vom Autor selbst erstellte und veröffentliche Inhalte sind urheberrechtlich geschützt. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.</p>
		
<p class="myfloat"><strong>Links &amp; Verweise</strong><br>
Der Autor ist nicht verantwortlich für direkte oder indirekte  Verweise auf fremde Internetseiten. Trotz aller Bemühungen ist es nicht immer möglich, Herkunft und Inhalt dieser Webseiten vollständig aufzuklären. Der Inhalt der Webseiten, auf die der Autor  verlinkt, ist grundsätzlich nicht Gegenstand des Angebotes des Autors, es sei denn, es wird gesondert darauf hingewiesen. Der Autor distanziert sich daher von diesen Inhalten und übernimmt keinerlei Haftung für durch diese Inhalte verursachte Schäden. Eine Haftungsverpflichtung würde  ausschließlich in dem Fall eintreten, in dem der Autor von den Inhalten Kenntnis hätte und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. Die Verantwortung für diese Inhalte liegt allein beim Ersteller der jeweiligen  Webseite auf denen diese Inhalte liegen. Der Autor haftet nicht für Postings oder Nachrichten von Nutzern in Diskussionsforen, Gästebüchern oder Mailinglisten die auf seiner Seite zur Verfügung gestellt werden.</p>

<p class="myfloat"><strong>Inhalt</strong><br>
Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Für Schäden die durch die Nutzung der bereitgestellten Informationen, einschließlich jeglicher Art von Informationen, welche unvollständig oder falsch sind, verursacht werden, wird seitens des Autors keine Haftung übernommen.<br>
Alle Angebote sind freibleibend und unverbindlich. Teile der Seiten oder das gesamte Angebot einschließlich aller Angebote und Informationen können erweitert, geändert oder ganz oder teilweise vom Verfasser, ohne gesonderte Ankündigung, gelöscht werden.</p>

<p class="myfloat"><strong>Sonstiges</strong><br>
Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Haftungsausschlusses unwirksam sind oder zukünftig werden, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.</p>
<p>&nbsp;</p>
		
<h3>Bilder</h3>
<p class="myfloat">Illustrative Grafiken wurden von <a href="http://123rf.com/">123RF - Royalty Free Stock Photos</a> erworben.</p>
