<% provide(:title, 'Investors') %>
<h1>Investors</h1>
<p class="myfloat">This page provides some initial information for potential investors.</p>
<p>&nbsp;</p>
<h4>Team</h4>
<p class="myfloat">We are a team of 3 people with professional background in Economics, Mathematics, Design, Software Development, and Psychology.</p>
<p>&nbsp;</p>
<h4>Technology</h4>
<p class="myfloat">The main components of Hyve.me are built on the following technology stack: Rails, PostgreSQL, Hadoop, Pig, Wukong.
<p>&nbsp;</p>
<h4>Market</h4>
<p class="myfloat">Initially, we target the group of Quantified Self users (approx. 35m people in the U.S. already track personal information) and we see a large potential in the current trend of wearable computing and ubiquitous sensors. Hyve.me is regularly tested using Google Keyword Planner and Facebook Real Time Census tools.</p>
<p>&nbsp;</p>
<h4>Business Model</h4>
<p class="myfloat">By establishing a market place for tools (bringing Data Analysts and private users together) and data (allowing private users to sell their data), Hyve.me plans to build a revenue stream on intermediary fees.</p>
<p>&nbsp;</p>
<h4>Competition</h4>
<p class="myfloat">There is currently no offering available that covers Big Data for Individuals in the scope addressed by Hyve.me. In the relevant fields we have identified the following products:</p>
<ul>
  <li><em>Data Collection:</em> IFTTT, Import.io</li>
  <li><em>Data Storage:</em> Daytum, Zenobase</li>
  <li><em>Data Processing:</em> Wolfram Research, Cloudnsci.fi</li>
  <li><em>Data Visualization:</em> Wolfram Research, Tableau</li>
  <li><em>Data Market:</em> Windows Azure Marketplace, Infochimps</li>
</ul>
<p>&nbsp;</p>
<h4>Contact</h4>
<p class="myfloat">This page provides a coarse grained overview about the business perspective of Hyve.me. If you are an investor and are interested in this start-up please contact us for the complete business plan: <a href="mailto:christoph.fabianek@hyve.me">christoph.fabianek@hyve.me</a></p>
<p>&nbsp;</p>
<p><a href="http://hyve.me/crowdfunder">back to Hyve.me Crowdfunder</a></p>

