<% provide(:title, 'Mission') %>
<h1>Mission</h1>
<p>Hyve.me helps to optimize your projects by giving examples and asking questions. We unleash the available potential in todays projects for a better future.</p>
