<% provide(:title, 'Plans') %>
<h1>Plans</h1>
<p class="myfloat">This page should give you an outlook where Hyve.me is heading to. Note that those plans may change as we are developing. Please also use the Feedback link at the bottom to let us know about your thoughts!</p>

<h3>Challenges</h3>
<p>There are a number of challenges to deal with when working on Big Data for individuals and those are the questions that we plan to address:</p>
<ul>
  <li><strong>Relevance:</strong> What data is significant and provides valuable insight?<br>
Hyve.me automatically shows similar projects and you can check what data is collected by others.<br><br></li>
  <li><strong>Source:</strong> Where does the relevant data come from and how to get it?<br>
It is the goal to automatically import all your data that is stored by 3rd parties about you. Currently, only manual entry and data collection via email is available.<br><br></li>
  <li><strong>Storage:</strong> Where and how to store your data securly?<br>
For now, all your data is stored using <a href="http://aws.amazon.com">Amazon Web Services</a>. In the near future you will be able to choose your storage provider.<br>It is also planned to provide the option for storing your data only locally on your PC and all processing will run locally. (Hyve.me is then only the place to get the necessary tools.)<br><br></li>
  <li><strong>Access:</strong> Who can see and access data?<br>
Every user will be able to define who can access what data. Right now the default level is defined that everybody can see what you are tracking (i.e., the attributes) but not the data itself.<br><br></li>
  <li><strong>Aggregation:</strong> How to aggregate data from users while maintaining full privacy?<br>
Hyve.me proposes an architecture and a protocol for secure and anonymous data exchange between users. This will enable every user to run statistical analysis without disclosing his or her own data.<br><br></li>
  <li><strong>Algorithms:</strong> How to process the data?<br>
While Hyve.me will provide a basic set of analysis tools, it will also provide an open market for algorithms. There, data analysis experts can upload various implementations for specific fields, and users can choose from the available offerings.<br><br></li>
  <li><strong>Visualization:</strong> How to interprete raw data and results of processed data?<br>
As with algorithms there is a basic set of graphical representation of your data available on Hyve.me. For more sophisticated visualizations an open market will bring together visualization experts and users.<br><br></li>
  <li><strong>Management:</strong> How to assess the value of data in case you want to buy, sell or trade data?<br>Eventually, it is the goal of Hyve.me to provide a platform for trading data. Even if you don't plan to sell some of your data, this is the place to find the market value of the information you possess.<br><br></li>
</ul>

