<% provide(:title, 'Privacy') %>
<h1>Privacy</h1>
<p class="myfloat">This page describes who can see what on Hyve.me.</p>
<h3>Visitors</h3>
<p class="myfloat">People who did not sign-in on Hyve.me (= Visitors) can't see any of your data, i.e., don't see if you are signed up, don't see any of your projects, or an data associated to your projects.</p>
<p>&nbsp;</p>
<h3>Registered Users</h3>
<p class="myfloat">Users with an account on Hyve.me have the following access to data:</p>
<ul>
  <li>See the username of all other registered users; but don't see the email address of any other user (in case you want to get in contact with an other user you can follow this user and write a posting)</li>
  <li>See all projects from other users including what data is collected for that project - but not the data itself</li>
</ul>
<p class="myfloat">Have a look at the <%= link_to "Plans page", plans_path %> to see a description for a more fine grained access scheme that is planned in one of the next releases.</p>
