<% provide(:title, 'Tour') %>
<h1>Tour</h1>
<h3>Enter the Hyve</h3>
<p>Sign-up and get Twitter-like News-feed about people and projects you follow.</p>
<img src="images/userpage.png" alt="User Page" width="500">
<p>&nbsp;</p>
<h3>Your Projects</h3>
<p>Create projects to document and store data.</p>
<img src="images/projectpage.png" alt="Project Page" width="500">
<p>&nbsp;</p>
<h3>Learn from Others</h3>
<p>Categorize your projects to find similar projects.</p>
<img src="images/categorypage.png" alt="Category Page" width="500">
<p>&nbsp;</p>
<h3>Data Collection</h3>
<p>Build up your data structure and information pool either manually or by activating the email survey feature.</p>
<img src="images/datacollectpage.png" alt="Data Collection" width="500">
<p>&nbsp;</p>
<h3>Visualization</h3>
<p>Show graphs to see trends in your data.</p>
<img src="images/graphpage.png" alt="Visualization Page" width="500">
