# encoding: UTF-8

<% provide(:title, 'Demo') %>
<h1>Demo</h1>
<h3>Der Start mit Hyve</h3>
<p>Nach dem Einloggen erwartet dich die Startseite mit Neuigkeiten von Personen denen du folgst (채hnlich wie Twitter).</p>
<img src="/images/userpage.png" alt="User Page" width="500">
<p>&nbsp;</p>
<h3>Deine Projekte</h3>
<p>Du kannst Projekt anlegen und beschreiben.</p>
<img src="/images/projectpage.png" alt="Project Page" width="500">
<p>&nbsp;</p>
<h3>Lerne von anderen</h3>
<p>Indem du dein Projekt kategorisierst, schl채gt der Hyve.me 채hnliche Projekte vor.</p>
<img src="/images/categorypage.png" alt="Category Page" width="500">
<p>&nbsp;</p>
<h3>Daten sammeln</h3>
<p>Entwickle eine Datenstruktur zur Dokumentation deiner Projekte und bef체lle sie mit Daten: Entweder durch Eingaben auf der Webseite oder durch Aktivierung der Datensammlung via Email.</p>
<img src="/images/datacollectpage.png" alt="Data Collection" width="500">
<p>&nbsp;</p>
<h3>Visualisierung</h3>
<p>Hyve.me erstellt Diagramme deiner Daten zum Erkennen von Trends.</p>
<img src="/images/graphpage.png" alt="Visualization Page" width="500">
