<% provide(:title, 'Data Tracking') %>
<h1>Data Tracking</h1>
<h3>Overview</h3>
<p class="myfloat">Hyve.me allows you to create for each project a data structure. To do so go to your project page and open the tracking tab. There you can create groups and items. Groups collect similar items, and items are those attributes that you want to collect.</p>
<img src="/images/datacollect.png" alt="Data Collection" width="500">
<p>&nbsp;</p>

<h3>Examples</h3>
<p class="myfloat">Here are some examples for items to track:</p>
<p><strong>Scope</strong><br>
<em>list your goals that you want to track</em>
<ul>
  <li>time spent weekly doing sport</li>
  <li>number of job applications sent</li>
</ul></p>
<p><strong>Resources</strong><br>
<em>list your available resources; you can track how much you use those</em>
<ul>
  <li>excellent network within field</li>
  <li>superb customer relations</li>
</ul></p>
<p><strong>SWOT Analysis</strong><br>
<em>additionally, you can use established planning methods to track changes over time</em>
<ul>
  <li>Strengths</li>
  <li>Weaknesses</li>
  <li>Opportunities</li>
  <li>Threats</li>
</ul></p>
<p>&nbsp;</p>
<p class="myfloat"><strong>Important Note</strong><br>
Finally, you want to check with similar projects to see what is tracked there. Usually, it is not the number of tracking items but to find the pivotal elements in your projects that indicate the largest gain or risk. (Also known as: True Results over Vanity Metrics!)</p>
