<% provide(:title, 'Use Cases') %>
<h1>Use Cases</h1>
<p class="myfloat">This page describes use cases for Hyve.me from a users perspective. The examples demonstrate how to leverage your data without compromising anonymity.</p>
<p class="myfloat"><em>If you are reading this page and want to know more please use the <a href="http://hyve.uservoice.com/">Feedback link</a> in the footer! Because of time constraints we just collected some key words of the basic idea and will continue later to create a nice marketing text...</em></p>
<p>&nbsp;</p>

<h3>Evaluate the Energy Consumption of your Building</h3>
<ul>
  <li>What are the relevant factors for evaluating energy consumption?</li>
  <li>Where to get this data?</li>
  <li>How to import it to Hyve.me?</li>
  <li>Visualize results</li>
  <li>Ask similar households to compare results</li>
</ul>
<p>&nbsp;</p>

<h3>Compare Your Insurance Spendings</h3>
<ul>
  <li>List types of insurances you have</li>
  <li>Overall spending per year in each category</li>
  <li>Invite friends and aquaintances to compare spendings anonymously</li>
</ul>
<p>&nbsp;</p>

<h3>Execute Data-driven Project Management</h3>
<ul>
  <li>Use Data-Driven-Development template to describe relevant metrics in your project</li>
  <li>Collect data for those metrics using <a href="http://www.hyve.me/en/email">email data collection</a> feature</li>
  <li>Visualize project progress</li>
  <li>Identify similar projects and ask for review from other project managers</li>
</ul>
<p>&nbsp;</p>

<p><a href="http://hyve.me/crowdfunder">back to Hyve.me Crowdfunder</a></p>
