<div class="accordion" id="pjattrib">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#pjattrib" href="#category">
        Category
      </a>
    </div>
    <div id="category" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'categorylist' %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#pjattrib" href="#tracking">
        Tracking
      </a>
    </div>
    <div id="tracking" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'trackinglist' %>
      </div>
    </div>
  </div>
</div>
