<div class="accordion" id="pjattrib">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#pjattrib" href="#category">
        Category
      </a>
    </div>
    <div id="category" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'categorylist' %>
      </div>
    </div>
  </div>
<% if current_project_user?(@project) %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#pjattrib" href="#settings">
        Settings
      </a>
    </div>
    <div id="settings" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'settings' %>
      </div>
    </div>
  </div>
<% end %>
</div>
