  <section>
    <%= form_for(@project, :url => { :action => 'update_email' }, :html => { :id => 'email_switch', :style => 'margin-bottom:-8px;' }, remote: true ) do |f| %>
      <label><%= t('project.settingemail') %><sup><%= link_to "?", email_path %></sup>: <%= f.check_box :emaildata, :class => "ios-switch" %></label>
    <% end %>
  </section>
<script>
$('#email_switch').change(function(){
   $('#email_switch').submit();
});
</script>
<script>
var switches = document.querySelectorAll('input[type="checkbox"].ios-switch');

for (var i=0, sw; sw = switches[i++]; ) {
	var div = document.createElement('div');
	div.className = 'switch';
	sw.parentNode.insertBefore(div, sw.nextSibling);
}
</script>
