@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: bold;
/*  color: $grayLight; */
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

p.myfloat {
  line-height: 1.3em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  display: inline;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* postings */

.postings {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* projects */

.projects {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
.projectname {
  font-weight: bold;
}
.projectdescription {
  display: block;
}
.projectage {
  color: $grayLight;
}

.groups {
  span { 
    display: inline-block; 
    padding-left: 10px; }
}

span.subedit { display: none; }

:root input[type="checkbox"] { /* :root here acting as a filter for older browsers */
	position: absolute;
	opacity: 0;
}

:root input[type="checkbox"].ios-switch + div {
	display: inline-block;
	vertical-align: middle;
	width: 3em;	height: 1em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0 .5em;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.1), transparent),
	                  linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
	background-origin: border-box;
	background-clip: border-box;
	overflow: hidden;
	transition-duration: .4s;
	transition-property: padding, width, background-position, text-indent;
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset;
	font-size: 130%; /* change this and see how they adjust! */
}

:root input[type="checkbox"].ios-switch:checked + div {
	padding-left: 2em;	width: 1em;
	background-position: 0 0;
}

:root input[type="checkbox"].ios-switch + div:before {
	content: 'On';
	float: left;
	width: 1.65em; height: 1.65em;
	margin: -.1em;
	border: 1px solid rgba(0,0,0,.35);
	border-radius: inherit;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.2), transparent);
	box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
	            0 0 .5em rgba(0,0,0,.3);
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	text-indent: -2.5em;
}

:root input[type="checkbox"].ios-switch:active + div:before {
	background-color: #eee;
}

:root input[type="checkbox"].ios-switch:focus + div {
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset,
	            0 0 .4em 1px rgba(255,0,0,.5);
}

:root input[type="checkbox"].ios-switch + div:before,
:root input[type="checkbox"].ios-switch + div:after {
	font: bold 60%/1.9 sans-serif;
	text-transform: uppercase;
}

:root input[type="checkbox"].ios-switch + div:after {
	content: 'Off';
	float: left;
	text-indent: .5em;
	color: rgba(0,0,0,.45);
	text-shadow: none;

}
